@import url('./reset.css');
body{
    background-color: rgb(245, 247, 231);
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 24px;
    list-style: none;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 127px;
}

.gallery-item {
    background-color: rgb(233, 219, 202);
    list-style: none;
    width: 310px;
    height: 230px;
    box-shadow: 7px -11px 33px -6px rgba(128, 135, 85, 1);
    border-radius: 4px;
}

a {
    text-decoration: none;
}

.gallery-link {
    cursor: zoom-in;

}

img {
    display: block;
    width: 100%;
    height: 80%;
    transition: transform 0.25s;
}

img:hover {
    transform: scale(1.05);
}

.sl-wrapper {
    background-color: rgb(56, 61, 61);
}
.stats{
    margin-top: 7px;
    display: flex ;
    gap: 3px;
    justify-content: space-around;  
}
p{
    text-align: center;
}
form{
    display: flex;
        justify-content: space-evenly;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
form>input {
    padding-left: 16px;
        font-family: "Montserrat",
            sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        color: #2e2f42;
        border-radius: 4px;
        border: 1px solid #1a1717;
        height: 36px;
            outline: 0px;
}
form>input:hover,
form>input:focus{
    border-color: #5e684e75;
box-shadow: 7px -11px 58px 17px rgba(128,135,85,1);}

button {
    border-radius: 8px;
    padding: 8px 16px;
    width: 95px;
    height: 40px;
    background: #b8b95fc5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
}
button:hover,
button:focus {
    background: #a3a744c5;
}

.loader {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}

.loader::before,
.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite;
}

.loader::after {
    border-color: #FF3D00;
    animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
    inset: 6px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }
}